
<!-- Search argument info -->
<div id="winMatchSearchArguments">

	<div class="headLine">
		Search arguments
	</div>
	
	<div class="searchItem">
		<div class="leftPart floatLeft" style="width:100px;">Type</div>
		<div class="rightPart floatLeft">
			<f:if condition="{0:dbComgateComp.role_type} == {0:'SH'}">
			<f:then>
				Sareholder		
			</f:then>
			<f:else>
				Investment
			</f:else>
			</f:if>
		</div>
		<div class="clearBoth"></div>
	</div>
	
	<div class="searchItem">
		<div class="leftPart floatLeft" style="width:100px;">Name</div>
		<div class="rightPart floatLeft">
			<input type="text" id="searchName" name="companyName" value="{name}" />
			{name}
		</div>
		<div class="clearBoth"></div>
	</div>
	
	<div class="searchItem">
		<div class="leftPart floatLeft" style="width:100px;">Country</div>
		<div class="rightPart floatLeft">
			<select id="countrySearch" class="countrySearch">
			
				<f:for each="{countries}" as="country">
					
					<f:if condition="{0:country.country_code} == {0:selectedCountryCode}">
					<f:then>
						<option value="{country.country_code}" selected="selected">
							{country.country_code} - {country.text_en}
						</option>
					</f:then>
					<f:else>
						<option value="{country.country_code}">
							{country.country_code} - {country.text_en}
						</option>
					</f:else>          				 	 	
					</f:if>
					
				</f:for>
			</select>
			<f:if condition="{selectedCountry}">
				<f:then>
					{country.country_code} - {country.text_en}
				</f:then>
				<f:else>
					Unknown
				</f:else>  
			</f:if>
			
		</div>
		<div class="clearBoth"></div>
	</div>
	
	<div class="searchItem">
		<f:link.action id="companySearchLink" controller="WinMatchComp" action="search" arguments="{dbComgateComp : dbComgateComp}">
			<div id="dbComgateListSearchFormButton" class="icon addLocation">search</div>
		</f:link.action>
	</div>
</div>

<!-- Search Result -->
<div id="winMatchResultList">
	<div class="headLine">
		Search results
	</div>
	<div id="winMatchResultListContent">
	</div>
</div>
<input id="currentDbComgateComp" type="hidden" value="{dbComgateComp.theid}" name="currentDbComgateComp"/>


