<f:layout name="Layout" />

<f:section name="Content">

<div id="dbComgate" class="contentWraper">
	
	<div id="dbComgateNavigation">
	
		<div id="dbComgateControls" class="listControls"></div>
		<div class="listItem header">
			<div class="listItemColumn dataelement">Program</div>
			<div class="clearBoth"></div>
		</div>
		
		<!-- Prog List (Win match) -->
		<f:for each="{dbProgs}" as="dbProg" key="index">
		
			<div class="listItem parentCompanyMatching">
				<div class="listItemColumn">
					<f:link.action controller="WinMatchComp" action="loadProg" arguments="{dbProg : dbProg}">
						{dbProg.progname}
					</f:link.action>
				</div>	
			</div>
		
		</f:for>
		<br>
		<div style="width:100%; background-color:black;">-</div>
		<br>
		<!-- Prog List (WIN create) -->
		<f:for each="{dbProgsNoWin}" as="dbProgNoWin" key="index">
		
			<div class="listItem noWinMatching">
				<div class="listItemColumn">
					<f:link.action controller="WinMatchComp" action="loadDbComgateForMatchNoWin" arguments="{dbProg : dbProgNoWin}">
						{dbProgNoWin.progname}
					</f:link.action>
				</div>	
			</div>
		
		</f:for>
	</div>
		
	<div id="dbComgateListWrapper">
		
		<!-- Content is filled via AJAX -->	
	</div>
	
	<div class="clearBoth"></div>
</div>
<div id="dbComgateLoader" class="ajaxLoader"></div>
<div id="dbComgateEditLoader" class="ajaxLoader"></div>	
<script lang="text/javascript">
	
	$(document).ready(function() {
		comSys.navigation.init();
		comSys.winMatchComp.init();
	});
</script>
</f:section>