
<!-- Shows a list of dbComgate objects -->
<div id="dbComgateList">
	
	<!-- 
	***************************************************
	Holds Information about the selected DbProg
	***************************************************
	-->
	<div style="width:1050px; height:1px; opacity:0.0;"></div>
	<div id="dbComgateListControls" class="listControls">
		<div class="controls">
			<div class="controlElement" style="padding-left:0px;">
				<div class="controlElementSingle">{dbProg.progname} </div>
				<div id="numberOfErrors" class="controlElementSingle">
					<div id="numberOfErrors-value"> - ({numberOfEntries})</div>
				</div>
				<div class="floatRight" style="padding-top:8px;">
					<div class="icon down" id="toggleDbProg"></div>
				</div>
				<div class="clearBoth"></div>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
	
	<div id="slider">
		<!-- 
		***************************************************
		Serach Form for Parent Companies
		***************************************************
		-->
		
		<div id="dbComgateListSearchForm" style="margin-bottom:10px; border-top:solid 1px grey; padding-top:5px;">	
				
			<!-- 
			Used to switch between the two search types 
			 -->		
			<div class="serchFormControl" id="searchType">	
				<div style="float:left; width:150px; padding-top:3px;">
					Search Type
				</div>
				Main Company <input type="radio" name="searchType" value="PARENT_COMPANY" checked="checked">
				Relations <input type="radio" name="searchType" value="COUNTRY">	
				<div class="clearBoth"></div>
			</div>	
			
			<!-- 
			Search type 1: Get parent companise by country
			 -->
			<f:form id="parentCompanySearchForm" action="searchDbComgate" controller="WinMatchComp"  name="WinMatchComp">
	
				<div class="serchFormControl" style="margin-top:5px;">
					<div style="float:left; width:150px; padding-top:3px;">
						Country:
					</div>
					<select class="countrySearch" name="countryCode">
						<option value="ALL" selected="selected">
									All
						</option>
						<f:for each="{countries}" as="country">
							
							<f:if condition="{0:country.country_code} == {0:progCountryCode}">
							<f:then>
								<option value="{country.country_code}" selected="selected">
									{country.text_en} - {country.country_code}
								</option>
							</f:then>
							<f:else>
								<option value="{country.country_code}">
									{country.text_en} - {country.country_code}
								</option>
							</f:else>          				 	 	
							</f:if>
							
						</f:for>
					</select>
					<div class="clearBoth"></div>
				</div>
				
				<div class="serchFormControl" style="margin-top:5px;">
					<div style="float:left; width:150px; padding-top:3px;">
						Search
					</div>
					<div id="winMatchSearchByParentCompanyButton" class="floatLeft icon addLocation">search</div>
					<div class="clearBoth"></div>
				</div>
			
			<f:form.hidden name="dbProg" value="{dbProg}" />
			
			</f:form>
			<div class="clearBoth"></div>
			
			
			<!-- 
			Search type 2: Get db comgate comp objects directly via country
			 -->
			<f:form id="countrySearchForm" action="searchDbComgateCompByCountry" controller="WinMatchComp"  name="WinMatchComp">
	
				<div class="serchFormControl" style="margin-top:5px;">
					<div style="float:left; width:150px; padding-top:3px;">
						Country:
					</div>
					<select class="countrySearch" name="countryCode">
						<option value="ALL" selected="selected">
									All
						</option>
						<f:for each="{countries}" as="country">
							
							<f:if condition="{0:country.country_code} == {0:progCountryCode}">
							<f:then>
								<option value="{country.country_code}" selected="selected">
									{country.text_en} - {country.country_code}
								</option>
							</f:then>
							<f:else>
								<option value="{country.country_code}">
									{country.text_en} - {country.country_code}
								</option>
							</f:else>          				 	 	
							</f:if>
							
						</f:for>
					</select>
					<div class="clearBoth"></div>
				</div>
				
				<div class="serchFormControl" style="margin-top:5px;">
					<div style="float:left; width:150px; padding-top:3px;">
						Search
					</div>
					<div id="winMatchSearchByCountryButton" class="floatLeft icon addLocation">search</div>
					<div class="clearBoth"></div>
				</div>
			
			<f:form.hidden name="dbProg" value="{dbProg}" />
			
			</f:form>
			<div class="clearBoth"></div>
			
			
			
		</div>
		
		<!-- 
		***************************************************
		Shows List of parent companies
		***************************************************
		-->
		<div id="dbComgateListContainer">
		<f:render partial="WinMatchDbComgateListPartial" arguments="{dbComgateList : dbComgateList}"/>	
		</div>
	</div>
	
	
	<!-- 
	***************************************************
	Holds list of dbComgateComp objects belonging to selected DbComgate (Stammfirma)
	***************************************************
	-->
	<div id="dbComgateCompList"></div>
	
		
</div>





