<!-- 
Shows a single dbcomgate of a program for the win matching process.
-->

<div>
	<div style="position:absolute; width:199px; background-color:red;"></div>
	
	<!-- 
	***************************************************
	Holds Information about the selected DbProg
	***************************************************
	-->
	<div style="width:1050px; height:1px; opacity:0.0;"></div>
	<div id="dbComgateListControls" class="listControls">
		<div class="controls">
			<div class="controlElement" style="padding-left:0px;">
				<div class="controlElementSingle">{dbProg.progname} </div>
				<div id="numberOfErrors" class="controlElementSingle">
					<div id="numberOfErrors-value"> - ({numberOfEntries})</div>
				</div>
				<div class="floatRight" style="padding-top:8px;">
					
				</div>
				<div class="clearBoth"></div>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
	
	<div id="slider">
		<div id="loadedDbComgate">
			<div id="dbComgateCompListInner">
		
				<!-- 
				***************************************************
				Navigation to go to next and previous
				***************************************************
				-->
				<div id="dbComgateCompNavigation" style="margin-bottom:20px; padding-top:5px; padding-bottom:5px; border-top:solid 1px grey; border-bottom:solid 1px grey;">
					
					<div class="floatLeft">
						<h2>Matching</h2>
					</div>
						
					<div class="floatLeft" style="margin-left:38px; margin-top:15px;">
					
						<f:if condition="{previousDbComgate}">
							<div class="floatLeft" style="margin-left:20px;">
								<f:link.action  id="loadPreviousDbComgateComp" controller="WinMatchComp" action="loadDbComgateForMatchNoWin" arguments="{dbProg : dbProg, dbComgate : previousDbComgate}">
									<div class="icon left"></div>
								</f:link.action>
							</div>
						</f:if>
						
						<f:if condition="{nextDbComgate}">
						<div class="floatLeft" style="margin-left:20px;">
							<f:link.action style="margin-left:0px;" id="loadNextDbComgateComp" controller="WinMatchComp" action="loadDbComgateForMatchNoWin" arguments="{dbProg : dbProg, dbComgate : nextDbComgate}">
								<div class="icon right"></div>
							</f:link.action>
						</div>
						</f:if>
						
						<div class="clearBoth"></div>
					</div>		
					<div class="clearBoth"></div>
				</div>
				
				<!-- 
				***************************************************
				Shows a search form to search for potential matches
				***************************************************
				-->
				{currentDbComgate.theid}
				<div id="dbComgateCompMatchSearchForm" style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:8px;">
					
			
					<!-- Name of the company -->
					<div class="serchFormControl" style="margin-top:5px;">
						<div style="float:left; width:150px; padding-top:3px;">
							Name
						</div>
						<div class="floatLeft">
							<input type="text" id="searchName" style="width:300px;" name="companyName" value="{searchDefault}" />
						</div>
						<div class="clearBoth"></div>
					</div>
					
					
					<!-- Country -->
					<div class="serchFormControl" style="margin-top:5px;">
						<div style="float:left; width:150px; padding-top:3px;">
							Country
						</div>
						<div class="floatLeft">
							<select style="width:300px;" id="countrySearch" class="countrySearch">
							
								<f:for each="{countries}" as="country">
									
									<f:if condition="{0:country.country_code} == {0:countryDefault}">
									<f:then>
										<option value="{country.country_code}" selected="selected">
											{country.country_code} - {country.text_en}
										</option>
									</f:then>
									<f:else>
										<option value="{country.country_code}">
											{country.country_code} - {country.text_en}
										</option>
									</f:else>          				 	 	
									</f:if>
									
								</f:for>
							</select>
							
						</div>
						<div class="clearBoth"></div>
					</div>
					
					<!-- Search button -->
					<div class="serchFormControl" style="margin-top:10px;">
						<div style="float:left; width:150px; padding-top:3px;">
							Update Match List
						</div>
						<div class="floatLeft icon addLocation">
							<f:link.action id="companySearchLink" controller="WinMatchComp" action="cimsysSearchNoWin">
								<div id="dbComgateListSearchFormButton" class="icon addLocation">search</div>
							</f:link.action>
						</div>
						<div class="clearBoth"></div>
						
						<div class="floatRight">
					</div>	
					
					<!-- Open new win -->
					<div class="serchFormControl" style="margin-top:5px;">
						<div style="float:left; width:150px; padding-top:3px;">
							
						</div>
						<div class="floatLeft">
							<f:if condition="{winOpenAllowed}">
							<f:then>
							<f:link.action id="createNewCompany" controller="WinMatchComp" action="openNewCompanyNoWin" arguments="{dbComgate : currentDbComgate}">
								Open New Win
							</f:link.action>
							</f:then>
							<f:else>
								<div>New company has to be opened manually in CimSys.</div>
							</f:else>
							</f:if>
						</div>
						<div class="clearBoth"></div>
					</div>
					
					<!-- Inactivate Relation -->
					<div class="serchFormControl" style="margin-top:5px;">
						<div style="float:left; width:150px; padding-top:3px;">
							
						</div>
						<div class="floatLeft">
							<f:link.action id="inactivateRelation" controller="WinMatchComp" action="inactivateCompanyNoWin" arguments="{dbComgate : currentDbComgate}">
								Inactivate
							</f:link.action>
						</div>
						<div class="clearBoth"></div>
					</div>
				</div>
				
				
			</div>	
			
			<!-- 
			***************************************************
			Shows a list of potential matches
			***************************************************
			-->
			<div class="matchList">
				<div class="listItem header">
					<div class="listItemColumn rate">Rate</div>	
					<div class="listItemColumn name"><b>Name</b></div>	
					<div class="listItemColumn city">City</div>	
					<div class="listItemColumn country"><b>Country</b></div>	
					<div class="listItemColumn legalForm">Legal form</div>
					<div class="listItemColumn status">Company Status</div>
					<div class="listItemColumn win">WIN</div>
					<div class="listItemColumn regid">RegId</div>
					<div class="listItemColumn"></div>
					<div class="clearBoth"></div>
				</div>
				
				<div class="listItem" style="background-color:#E0877B;">
					<div class="listItemColumn rate"></div>	
					<div class="listItemColumn name"><b>{searchDefault}</b></div>	
					<div class="listItemColumn city">{city}</div>	
					<div class="listItemColumn country"><b>{countryDefault}</b></div>	
					<div class="listItemColumn legalForm">{legalform}</div>
					<div class="listItemColumn status">{status}</div>
					<div class="listItemColumn win">N/A</div>
					<div class="listItemColumn regid">N/A</div>
					<div class="listItemColumn"></div>
					<div class="clearBoth"></div>
				</div>
			</div>	
			
			
			<div id="matchList">
				<f:render partial="SearchPartialNoWin" arguments="{matchList : matchList, dbComgate : currentDbComgate}"/>	
			</div>
		</div>
		
	</div>
	
	</div>
</div>




	