<!-- 
****************************************************************
Shows a DbComgateComp object for the matching process:

Required:
- dbComgateComp	: DbComgateComp
- matchList		: array
- numberOfCases : int
****************************************************************
-->
<div id="dbComgateCompListInner">

	
	<!-- 
	***************************************************
	Navigation to go to next and previous
	***************************************************
	-->
	<div id="dbComgateCompNavigation" style="margin-bottom:20px; padding-top:5px; padding-bottom:5px; border-top:solid 1px grey; border-bottom:solid 1px grey;">
		
			<div class="floatLeft">
				<h2>Matching ({numberOfCases})</h2>
			</div>
		
			<div class="floatLeft" style="margin-left:38px; margin-top:15px;">
			
				<!-- Depending on search mode next and previous requires different parameters -->
				<f:if condition="{countrySearch}">
				<f:then>
					<!-- Country paging -->
					<div class="floatLeft" style="margin-left:20px;">
						<f:link.action  id="loadPreviousDbComgateComp" controller="WinMatchComp" action="loadPreviousDbComgateCompByCountryAndProg" arguments="{dbProg : dbProg, dbComgateComp : dbComgateComp, countryCode : selectedCountry.country_code}">
							<div class="icon left"></div>
						</f:link.action>
					</div>
					
					<div class="floatLeft" style="margin-left:20px;">
						<f:link.action  style="margin-left:10px;" id="loadNextDbComgateComp" controller="WinMatchComp" action="loadNextDbComgateCompByCountryAndProg" arguments="{dbProg : dbProg, dbComgateComp : dbComgateComp, countryCode : selectedCountry.country_code}">
							<div class="icon right"></div>
						</f:link.action>
					</div>
				</f:then>
				
				<f:else>
					<!-- Parent company paging -->
					<div class="floatLeft" style="margin-left:20px;">
						<f:link.action  id="loadPreviousDbComgateComp" controller="WinMatchComp" action="loadPreviousDbComgateComp" arguments="{dbProg : dbProg, dbComgateComp : dbComgateComp}">
							<div class="icon left"></div>
						</f:link.action>
					</div>
					
					<div class="floatLeft" style="margin-left:20px;">
						<f:link.action style="margin-left:10px;" id="loadNextDbComgateComp" controller="WinMatchComp" action="loadNextDbComgateComp" arguments="{dbProg : dbProg, dbComgateComp : dbComgateComp}">
							<div class="icon right"></div>
						</f:link.action>
					</div>
				</f:else>	
				</f:if>
			</div>	
			<div class="clearBoth"></div>
	</div>
	

	
	<f:if condition="{dbComgateComp}">
	<f:then>
	
	<!-- 
	***************************************************
	Shows a search form to search for potential matches
	***************************************************
	-->
	<div id="dbComgateCompMatchSearchForm" style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:8px;">
		
		
		<!-- 
		***************************************************
		Show information depending on search type
		***************************************************
		-->
		<f:if condition="{countrySearch}">
		<f:then>
		<!-- In case country search is on -->
		<div class="serchFormControl" style="margin-top:5px;">
		
			<div style="float:left; width:150px; padding-top:3px;">
				Country
			</div>
			<div class="floatLeft">
				{selectedCountry.text_en} - {selectedCountry.country_code}
			</div>
			<div class="clearBoth"></div>
		</div>
		
		</f:then>
		<f:else>
		<!-- In case main company search is on -->
		<div class="serchFormControl" style="margin-top:5px;">
		
			<div style="float:left; width:150px; padding-top:3px;">
				Main Company
			</div>
			<div class="floatLeft">
				{dbComgate.dbIdentName} ({dbComgate.win})
			</div>
			<div class="clearBoth"></div>
		</div>
		
		</f:else>
		</f:if>
		
		<!-- Type of company -->
		<div class="serchFormControl" style="margin-top:5px;">
			<div style="float:left; width:150px; padding-top:3px;">
				Type
			</div>
			<div class="floatLeft">
				<f:if condition="{0:dbComgateComp.role_type} == {0:'SH'}">
				<f:then>
					Sareholder		
				</f:then>
				<f:else>
					Investment
				</f:else>
				</f:if>
			</div>
			<div class="clearBoth"></div>
		</div>
			
		<!-- Name of the company -->
		<div class="serchFormControl" style="margin-top:5px;">
			<div style="float:left; width:150px; padding-top:3px;">
				Name
			</div>
			<div class="floatLeft">
				<input type="text" id="searchName" style="width:300px;" name="companyName" value="{identName}" />
				
			</div>
			<div class="clearBoth"></div>
		</div>
		
		
		<!-- Country -->
		<div class="serchFormControl" style="margin-top:5px;">
			<div style="float:left; width:150px; padding-top:3px;">
				Country
			</div>
			<div class="floatLeft">
				<select style="width:300px;" id="countrySearch" class="countrySearch">
				
					<f:for each="{countries}" as="country">
						
						<f:if condition="{0:country.country_code} == {0:selectedCountry.country_code}">
						<f:then>
							<option value="{country.country_code}" selected="selected">
								{country.country_code} - {country.text_en}
							</option>
						</f:then>
						<f:else>
							<option value="{country.country_code}">
								{country.country_code} - {country.text_en}
							</option>
						</f:else>          				 	 	
						</f:if>
						
					</f:for>
				</select>
				
			</div>
			<div class="clearBoth"></div>
		</div>
		
		<!-- Search button -->
		<div class="serchFormControl" style="margin-top:10px;">
			<div style="float:left; width:150px; padding-top:3px;">
				Update Match List
			</div>
			<div class="floatLeft icon addLocation">
				<f:link.action id="companySearchLink" controller="WinMatchComp" action="search" arguments="{dbComgateComp : dbComgateComp}">
					<div id="dbComgateListSearchFormButton" class="icon addLocation">search</div>
				</f:link.action>
			</div>
			<div class="clearBoth"></div>
			
			<div class="floatRight">
			

		</div>	
		
		<!-- Open new win -->
		<div class="serchFormControl" style="margin-top:5px;">
			<div style="float:left; width:150px; padding-top:3px;">
				
			</div>
			<div class="floatLeft">
				<f:if condition="{winOpenAllowed}">
				<f:then>
				<f:link.action id="createNewCompany" controller="WinMatchComp" action="openNewCompany" arguments="{dbComgateComp : dbComgateComp}">
					Open New Win
				</f:link.action>
				</f:then>
				<f:else>
					<div>New company has to be opened manually in CimSys.</div>
				</f:else>
				</f:if>
			</div>
			<div class="clearBoth"></div>
		</div>
		
		<!-- Inactivate Relation -->
		<div class="serchFormControl" style="margin-top:5px;">
			<div style="float:left; width:150px; padding-top:3px;">
				
			</div>
			<div class="floatLeft">
				<f:link.action id="inactivateRelation" controller="WinMatchComp" action="inactivateRelation" arguments="{dbComgateComp : dbComgateComp}">
					Inactivate
				</f:link.action>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
	
	
	<!-- 
	***************************************************
	Shows a list of potential matches
	***************************************************
	-->
	<div class="matchList">
		<div class="listItem header">
			<div class="listItemColumn rate">Rate</div>	
			<div class="listItemColumn name"><b>Name</b></div>	
			<div class="listItemColumn city">City</div>	
			<div class="listItemColumn country"><b>Country</b></div>	
			<div class="listItemColumn legalForm">Legal form</div>
			<div class="listItemColumn status">Company Status</div>
			<div class="listItemColumn win">WIN</div>
			<div class="listItemColumn regid">RegId</div>
			<div class="listItemColumn"></div>
			<div class="clearBoth"></div>
		</div>
		
		<div class="listItem" style="background-color:#E0877B;">
			<div class="listItemColumn rate">{dbComgateComp.theid}</div>	
			<div class="listItemColumn name"><b>{identName}</b></div>	
			<div class="listItemColumn city">{identAddressCity}</div>	
			<div class="listItemColumn country"><b>{identAddressCountryCode}</b></div>	
			<div class="listItemColumn legalForm">{predicateLegalForm}</div>
			<div class="listItemColumn status">{predicateCompanyStatus}</div>
			<div class="listItemColumn win">{win}</div>
			<div class="listItemColumn regid">{regOfficeRegId}</div>
			<div class="listItemColumn"></div>
			<div class="clearBoth"></div>
		</div>
	</div>	
	</f:then>
	<f:else>
		<div class="emptyList">
			No more entries available
		</div>
	</f:else>
	</f:if>
	
	<div id="matchList">
		<f:render partial="SearchPartial" arguments="{matchList : matchList, dbComgateComp : dbComgateComp}"/>	
	</div>
	
</div>	
	