@CHARSET "UTF-8";


/*==============================================
 * COMSYS CSS
 *==============================================
 */
 
/*
 * Global settings
 */
 
html {
	margin: 0;
	padding: 0;
	overflow: -moz-scrollbars-vertical;
    overflow: scroll;
    height: 100%;
	}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family:arial, verdana, sans-serif;
    font-size:13px;
    background-color:#3F3D3D;
    height: 100%;
}
	
img {
	border:none;
	margin: 0;
	padding: 0;
	}	

a {
   outline: 0;
}


	
.globalAjaxLoader {
	display:none;
	float:right;
	background:url('../Images/ajax_loader_white_arrow.gif')  center right no-repeat;
	width:286px;;
	height:36px;
	margin-right: 60px;
    margin-top: 2px;
	}	
 
.notVisible {
	display:none;
	} 
 
/*
 * Layout
 */
 
#page {
	width:100%;
	height:100%;
	}
	
#header {
	height:100px;
	background-image:url('../Images/header_logo_plain.png');
	background-repeat:no-repeat;
	background-position:left top;
	background-color:#D00C0C;
	
	border-bottom:solid 1px #5E5C5C;
	}

.mainTitle {
	padding-top:4px;
	padding-left:20px;
	font-size:60px;
	font-weight:bold;
	color:white;
	}

#navigation {
	height:40px;
	padding-left:100px;
	background-color:#9E9D9D;
	
	}
	
#navigation a {
	text-decoration:none;
	}	
		
.navigationItem {
	display:block;
	padding-top:14px;
	padding-left:18px;
	font-weight:bold;
	width:200px;
	height:26px;
	text-align:left;
	float:left;

	background-color:white;
	font-size:14px;
	color:#4B4949;
	
	margin-top:-16px;
	border-right:solid 1px #9E9D9D;
	}
	
.navigationItem.over {
	background-color:#39f;
	color:white;
	}		

.centeredContent {
	width: 1250px ;
  	margin-left: auto;
  	margin-right: auto;
	}
	
#metaNavigation {
	color:white;
	margin-right:20px;
	position:absolute;
	right:15px;
	top:80px;
	}
	
#metaNavigation a {
	margin:0px 2px;
	text-decoration:none;
	color:white;
	}
	
	
	
	
#content {
	position:relative;
	padding-left:10px;
	height:100%;
	}
	
#content .centeredContent {
	background-color:white;
	padding-top:40px;
	padding-bottom:50px;
	padding-left:10px;
	min-height: 100%;
	border-top:solid 1px #5E5C5C;
	}	

#footer {
	height:20px;
	}
	

.contentWraper {
	
	}


/**
 * General items
 */ 

.clearBoth {
	clear:both;
	}
	
.floatRight {
	float:right !important;
	}	
	
.floatLeft {
	float:left !important;
	}	

.icon {
	text-indent:-3000px;  
	height:16px;                        
    width: 16px;
    white-space: nowrap;
    cursor:pointer;
    cursor:hand
	}
	
.iconLarge {
	height:32px;                        
    width: 32px;
	}	
	
.edit {
	background:url(../Icons/Edit16.png) center right no-repeat;
	}

.save {
	background:url(../Icons/Save16.png) center right no-repeat;
	}
	
.cancel {
	background:url(../Icons/Delete16.png) center right no-repeat;
	}
	
.add {
	background:url(../Icons/Add16.png) center right no-repeat;
	}	
	
.delete {
	background:url(../Icons/Delete16.png) center right no-repeat;
	}	
	
.addLocation {
	background:url(../Icons/Search16.png) center right no-repeat;
	}	
	
.next {
	background:url(../Icons/Arrow-Right.png) center right no-repeat;
	}
		
.previous {
	background:url(../Icons/Arrow-Left.png) center right no-repeat;
	}
	
.globe {
	background:url(../Icons/Info16.png) center right no-repeat;
	}
					
	
.icon-floated {
	float:left;
	}	
	
.wheelLoader {
	background:url(../Images/wheel_loader.gif) center right no-repeat;
	}	
	
.textButton {
	cursor:pointer;
	cursor:hand;
	border:solid 1px black;
	background-color:#E8E8E8;
	padding:4px;
	margin:10px;
	}	
	
	
.editLarge {
	height:24px;                        
    width: 24px;
	background:url(../Icons/Edit24.png) center right no-repeat;
	}

.saveLarge {
	height:24px;                        
    width: 24px;
	background:url(../Icons/Save24.png) center right no-repeat;
	}
	
.cancelLarge {
	height:24px;                        
    width: 24px;
	background:url(../Icons/Delete24.png) center right no-repeat;
	}	
	
.reloadLink {
	display:none;
}
	
/*
 * DbComgate
 */	

#dbComgate {

	}
	
#dbComgateLoader {
	z-index:100;
	left:600px;
	top:200px;
	}	
	
#dbComgateListWrapper {
	width:1100px;
	float:left;
	}
	
#dbComgateTitle {
	padding:2px 10px;
	margin-bottom:10px;
	font-size:20px;
	color:#3F3D3D;
	font-weight:bold;
	background-color:white;
	}
	
#dbComgateNavigation {
	float:left;
	margin-right:40px;
	margin-top:0px;
	}
	
#dbComgateNavigation a {
	text-decoration:none;
	color:black;
	}	

#dbComgateNavigation .listItem {
	cursor:pointer;
	cursor:hand;
	}
	
#dbComgateHeader {
	border:solid 1px #848484;
	padding:10px 10px;
	}	
	
#dbComgateList {
  	background-color: white;
  	border-bottom: 1px solid;
  	border-top: 1px solid;
  	margin-bottom: 20px;
  	padding-bottom: 10px;
	}

#dbComgateListSearchForm {
	min-height:40px;
	}
	
#exitSearchResults {
	display:none;
	}	

#dbComgateEdit {
	width:1100px;
	}
	
#dbComgateEditLoader {
	z-index:100;
	left:1120px;
	top:200px;
	}	
	
#responseMessage {
	display:none;
	width:200px;
	font-size:11px;
	float:left;
	padding-top:5px;
	padding-left:10px;
	color:#9F0000;
	}	
	
.listControls {
	min-height:36px;	
	}	
	
.listItem {
	margin:5px 0px;
	border-top:solid 1px grey;
	border-bottom:solid 1px grey;
	background-color:white;
	min-height:22px;
	
	}
	

.listItem.selected {
	background-color:#39f;
	color:white;
	}	
	
.listItem.error {
	background-color:#F8867E;
	}	
	
.listItem.section {
	background-color:#DAD7D7;
	}	
	
.listItem.corrected {
	background-color:#ADF699;
	}		
	
.listItem.header {
	background-color:#3F3D3D;
	border:none;
	color:white;
	}
	
.listItem.new {	
	
	border-top:solid 1px #9E9D9D;
	border-bottom:solid 1px #9E9D9D;
	}
	
	
.listItemColumn {
	text-align:left;
	float:left;
	padding:3px 10px;
	}
	


#dbComgateList .listItemColumn.editdate {
	width:160px;
	}
	
#dbComgateList .listItemColumn.url {
	width:850px;
	}	
	
#dbComgateList .listItemColumn.editIcon {
	width:16px;
	}	
	
	
#dbComgateEditControls {
	}	
	
#dbComgateListControls .controlElement{
	font-size:16px;
	padding-top:10px;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	}	
	
	
.controlElementSingle {
	float:left;
	}	
		
#dbComgateEditControls .controlElement {
	float:left;
	height:16px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	}
	
#dbComgateEditControls .controlElement .icon  {
	float:right;
	}
	
	
#dbComgateDataList .listItem .options {
	display:none;
	background-color:white;
	border-top:1px solid grey;
	}
	
#dbComgateDataList	input {
	height:16px;
	font-size:13px;
	padding:0px;
	border-radius: 0px;
	border:solid 1px #3F3D3D;
}


#dbComgateDataList .serial input {
	width:20px;
	}
	
#dbComgateDataList .original input {
	width:300px;
	}	

	
#dbComgateDataList .listItemColumn.dataelement {
	width:300px;
	}
	
#dbComgateDataList .listItemColumn.serial {
	width:30px;
	}
	
#dbComgateDataList .listItemColumn.original {
	width:400px;
	}
	
#dbComgateDataList .listItemColumn.verifiedStatus {
	width:40px;
	}
	
#dbComgateDataList .listItemColumn.error {
	width:200px;
	}

#dbComgateDataList .listItemColumn.editIcon {
	width:58px;
	}
	
	
	
	

/**
 * Editor to edit link city country table
 */
 
.linkCityCountryForm {
 	display:none;
 	position:relative;
}

.saveNewCityLinkList {
	position:absolute;
	right:10px;
	top:30px;
	}
	
.linkCityCountryCreate {
	background-color:white;
	border-top:1px solid grey;
	display:none;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:3px;
	}	
	
.linkCityCountryInput {
	margin-top:6px;
	}	
	
.linkCityCountryInput .description {
	float:left;
	width:220px;
	}	
	
.linkCityCountryInput .input {
	float:left;
	}	
	
.saveLinkCityCountry {
	
	}	
	
.linkCityCountryCreate .error {
	color:#F8867E;
}

.linkCityCountryCreate .title {
	
	font-weight:bold;
	margin-top:10px;
	margin-bottom:5px;	
	}
	
	
	
.linkCityCountryCreate .message {
	
	margin-top:10px;
	margin-bottom:10px;	
	}	
	
	
.linkCityCountryCreate .countryOriginal {
	background-color:#DAD7D7;
	}			
	
.linkCityCountryList {
	font-size:11px;	
}	
	
.citySearch {
	width:250px;
	}	
	
.linkCityCountryList .listItemColumn.city {
	width:250px;
	}
	
.linkCityCountryList .listItemColumn.sourceCity {
	width:250px;
	}	

.linkCityCountryList .listItemColumn.zip {
	width:80px;
	}
	
.linkCityCountryList .listItemColumn.country {
	width:200px;
	}
	
.linkCityCountryList .listItemColumn.countryCode {
	width:140px;
	}
	
.linkCityCountryList .listItemColumn.v {
	width:20px;
	}	
	
.linkCityCountryControls {
	margin-top:10px;
	margin-bottom:10px;
	}	
	
.linkCityCountryControls .controlElement {
	float:left;
	}

.searchButton {
	cursor:pointer;
    cursor:hand;
	}
	
/*
 * Dropdown select box
 */
 
 .ui-dropdownchecklist {
	color: black;
}

 .ui-dropdownchecklist input {
 	display:none;
 }

.ui-dropdownchecklist-selector {
	height: 13px;
	border: 1px solid #3F3D3D;
	background: #fff;
	
}
.ui-state-hover, .ui-state-active {
	border-color: #5794bf;
}
.ui-dropdownchecklist-dropcontainer {
	background-color: #fff;
	border: 1px solid #999;
}
.ui-dropdownchecklist-item {
}
.ui-state-hover {
	background-color: #39f;
}
.ui-state-disabled label {
	color: #ccc;
}
.ui-dropdownchecklist-group {
	font-weight: bold;
	font-style: italic;
}
.ui-dropdownchecklist-indent {
	padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper {
	vertical-align: middle;
	font-size: 0px;
}
.ui-dropdownchecklist-selector {
	padding: 1px 2px 2px 2px;
	font-size: 0px;
}
.ui-dropdownchecklist-text {
	font-size: 13px;
	/* line-height: 20px; */
}
.ui-dropdownchecklist-group {
	padding: 1px 2px 2px 2px;
}

	
 