<!-- The controls -->
<div id="dbComgateEditControls">
	
	<div class="listControls">
		<div class="controls">
			
			<!-- Dropdown to select section  -->
			<div class="controlElement">
				
				<select id="sectionSelect">
					<option selected="">All sections</option>
					
					<f:for each="{dbComgateDataList}" as="dbComgateDataSection">
					
						<option value="{dbComgateDataSection.name}{dbComgateDataSection.serial}">
							{dbComgateDataSection.screenName }
						</option>
						
					</f:for>
				</select>
			</div>	
			
			<!-- Dropdown to select section errror or not  -->
			<div class="controlElement">
				<select id="errorSelect">
					<option selected="">All</option>
					<option selected="">Errors only</option>
				</select>
			</div>	
			
			<!-- Error message shown if something went wrong -->
			<div id="responseMessage">Could not save the DbComgate Data. There are still errors in the dataset.</div>
			
			<!-- Save element -->
			<div class="controlElement floatRight">
				<f:link.action id="saveDbComgate" controller="Checklists" action="saveDbComgate" arguments="{dbComgate : dbComgate}">
					<div class="icon save">edit</div>
				</f:link.action>
			</div>	
			
			<!-- Abort edit  -->
			<div class="controlElement floatRight">
				<a id="closeDbComgate">
					<div class="icon cancel">cancel</div>
				</a>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
</div>


<!-- The list of dbComgateData objects to edit -->
 
<div id="dbComgateDataList">
	
	<div class="listItem header">
		<div class="listItemColumn dataelement">Dataelement</div>
		<div class="listItemColumn original">Original</div>
		<div class="listItemColumn verifiedStatus">V. S.</div>
		<div class="listItemColumn error">Error</div>
		<div class="listItemColumn editIcon">Edit</div>
		<div class="clearBoth"></div>
	</div>
	
	
	<f:for each="{dbComgateDataList}" as="dbComgateDataSection">
	
		<div id="section_{dbComgateDataSection.name}{dbComgateDataSection.serial}" class="sectionBox">
			
			<!-- Show section header -->
			<div class="listItem section">
				
				<div class="listItemColumn">
					{dbComgateDataSection.screenName}
				</div>
				
				<div class="listItemColumn floatRight">
					<f:if condition="{dbComgateDataSection.hasNotUsedSections}">
						<f:link.action class="addDbComgateData" controller="Checklists" action="addDbComgateData" arguments="{dbComgate : dbComgate, section: dbComgateDataSection.name}">
							<div  class="icon add">add</div>
						</f:link.action>
					</f:if>
				</div>
				
				<!-- Google maps link in case of address -->
				<f:if condition="{0:dbComgateDataSection.name} == {0:'Address'}">
					<div class="listItemColumn floatRight">
						
						<a class="icon globe" style="display:block;" href="http://maps.google.ch/maps?q={dbComgateDataSection.googleMapsQuery}" target="_blank"></a>
					
					</div>	
				</f:if> 
				
				<f:if condition="{0:dbComgateDataSection.name} == {0:'Shareholder'}">
					<div class="listItemColumn floatRight">
						
						<a class="icon globe" style="display:block;" href="http://maps.google.ch/maps?q={dbComgateDataSection.googleMapsQuery}" target="_blank"></a>
					
					</div>	
				</f:if> 
				
				<f:if condition="{0:dbComgateDataSection.name} == {0:'Director'}">
					<div class="listItemColumn floatRight">
						
						<a class="icon globe" style="display:block;" href="http://maps.google.ch/maps?q={dbComgateDataSection.googleMapsQuery}" target="_blank"></a>
					
					</div>	
				</f:if> 
				
				<div class="clearBoth"></div>
			</div>
		
			<!-- Show all elements of section -->
			<f:for each="{dbComgateDataSection.usedSectionElements}" as="dbComgateData">
			
			<f:render partial="DbComgateDataListItemPartial" arguments="{dbComgateData : dbComgateData, countries : countries, section : dbComgateDataSection, dbProg : dbProg}"/>	
			
			</f:for>
			
			<!--  A template for a new dbComgateData element -->
			<div id="listItem_New_{sectionKey}{serial}" class="listItem new">
				<div class="listItemColumn dataelement">
					<select class="unUsedsectionSelect">
						<f:for each="{dbComgateDataSection.notUsedSectionElements}" as="unUsedSection" key="index">
						<option value="{unUsedSection}">{unUsedSection}</option>
						</f:for>
					</select>
				</div>
				
				<div class="listItemColumn serial">
					<input class="newSerial" type="text" value="{dbComgateDataSection.serial}" name="newSerial"/>
				</div>
				
				<div class="listItemColumn original">
					<input class="newOriginal" type="text" value="" name="newOriginal"/>
				</div>
				
				<div class="listItemColumn editIcon floatRight">
					<f:link.action id="createDbComgateData_{dbComgateDataSection.name}{dbComgateDataSection.serial}" class="createDbComgateData" controller="Checklists" action="addDbComgateData" arguments="{dbComgate : dbComgate}">
						<div class="icon save">save</div>
					</f:link.action>
				</div>
				<div class="clearBoth"></div>
				
			</div>
			
		</div>
		
	</f:for>
	
</div>
<input id="currentDbComgate" type="hidden" value="{dbComgate.theid}" name="currentDbComgate"/>


