<f:layout name="Layout" />

<f:section name="Content">
<div id="dbComgate" class="contentWraper">
	
	<div id="dbComgateNavigation">
	
		<div id="dbComgateControls" class="listControls"></div>
		<div class="listItem header">
			<div class="listItemColumn dataelement">Program</div>
			<div class="clearBoth"></div>
		</div>
		
		<!-- Prog List -->
		<f:for each="{dbProgs}" as="dbProg" key="index">
		
			<div class="listItem">
				<div class="listItemColumn">
					<f:link.action controller="Checklists" action="loadDbComgate" arguments="{dbProg : dbProg}">
						{dbProg.progname}
					</f:link.action>
				</div>	
			</div>
		
		</f:for>
		
	</div>
		
	<div id="dbComgateListWrapper">
		<!-- Content is filled via AJAX -->	
	</div>
	
	<div class="clearBoth"></div>
</div>
<div id="dbComgateLoader" class="ajaxLoader"></div>
<div id="dbComgateEditLoader" class="ajaxLoader"></div>	
<script lang="text/javascript">
	console.log("Init");
	$(document).ready(function() {
		comSys.navigation.init();
		comSys.dbComgate.init();
	});
</script>
</f:section>