
<!-- Shows a list of dbComgate objects -->
<div id="dbComgateList">
	
	<div id="dbComgateListControls" class="listControls">
		<div class="controls">
			<div class="controlElement">
				<div class="controlElementSingle">{title} </div>
				<div id="numberOfErrors" class="controlElementSingle">
					<div id="numberOfErrors-value"> - ({numberOfEntries})</div>
					<f:link.action id="numberOfErrors-reload" class="reloadLink" controller="Checklists" action="numberOfErrorsInProg" arguments="{dbProg : dbProg}"></f:link.action>
				</div>
				<div class="clearBoth"></div>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
	
	<!-- Serach Form -->
	<div id="dbComgateListSearchForm">	
		
		<div class="serchFormControl floatLeft">
			<input id="dbComgateListSearchFormSearchString" type="text" name="searchString"/>
		</div>
		
		<div class="serchFormControl floatLeft" style="margin-top:3px; margin-left:10px;">
			<div id="dbComgateListSearchFormButton" class="icon addLocation">search</div>
		</div>
		
		<div id="exitSearchResults" class="serchFormControl floatLeft">
			<div id="cancleSearchResults" class="icon cancel" style="padding-top:5px; margin-left:10px;">cancle search</div>
		</div>
		
		<f:if condition="{dbComgate}">
		<div id="prevNext" class="serchFormControl floatLeft">
			<div class="floatLeft" style="margin-left:670px; margin-right:40px;">
				<div id="loadPreviousDbComgate" class="icon iconLarge previous">previous</div>
			</div>
			<div class="floatLeft">
				<div id="loadNextDbComgate" class="icon iconLarge next">next</div>
			</div>
			<div class="clearBoth"></div>
		</div>
		</f:if>
		
		
		<div class="clearBoth"></div>
		
		<f:link.action id="dbComgateListSearchFormLink" class="reloadLink" controller="Checklists" action="searchDbComgate" arguments="{dbProg : dbProg}"></f:link.action>
		<f:link.action id="dbComgateLoadFirstLink" class="reloadLink" controller="Checklists" action="loadFirstDbComgate" arguments="{dbProg : dbProg}"></f:link.action>
		
	</div>
	
	
	<!-- Header Row -->
	<div class="listItem header">
		<div class="listItemColumn editdate">Verified Date</div>	
		<div class="listItemColumn url">Url</div>	
		<div class="listItemColumn editIcon">Edit</div>	
		<div class="clearBoth"></div>
	</div>
		
	<!-- Data Rows -->	
	<div id="shownDbComgates">
		<f:if condition="{dbComgate}">
		<f:then>
				
			<f:render partial="DbComgatePartial" arguments="{dbProg : dbProg, dbComgate : dbComgate}"/>	
		
		</f:then>
		<f:else>
		<div class="emptyList">
			No more entries available
		</div>
		</f:else>
		</f:if>
	</div>	
</div>

<!-- The section where a dbComgate object is showen to edit -->
<div id="dbComgateEdit"></div>



<div class="clearBoth"></div>