
<!-- Data Rows -->	
<f:if condition="{dbComgateList}">
<f:then>
<f:for each="{dbComgateList}" as="dbComgate" key="index">
	
<f:render partial="DbComgateListItemPartial" arguments="{dbProg : dbProg, dbComgate : dbComgate, dbComgateLast : dbComgateLast}"/>	

</f:for>
</f:then>
<f:else>
<div class="emptyList">
	No entries for the search string &quot;{searchString}&quot; found.
</div>
</f:else>
</f:if>
