<!-- Represents a list entry for a DbComgateData element -->
<div id="listItem_{dbComgateData.theid}" class="listItem{f:if(condition: '{dbComgateData.hasError}', then: ' error')}">
	<div class="listItemColumn dataelement">{dbComgateData.dataelement}</div>
	<div class="listItemColumn original">{dbComgateData.original}</div>
	<div class="listItemColumn verifiedStatus">{dbComgateData.verifiedStatus}</div>
	<div class="listItemColumn error">{dbComgateData.error}</div>
	<div class="listItemColumn editIcon">
		
		<f:if condition="{dbComgateData.isEditable}">
		
			<!-- Delete icon -->
			<f:link.action id="dbComgateDataIdDelete_{dbComgateData.theid}" controller="Checklists" action="deleteDbComgateData" arguments="{dbComgateData : dbComgateData}">
				<div  class="icon delete" style="float:right;">delete</div>
			</f:link.action>	
		
			<!-- Edit icon -->
			<div id="dbComgateDataId_{dbComgateData.theid}" class="icon edit" style="float:right;">edit</div>
			
			<!-- Add location icon -->
			<f:if condition="{dbComgateData.isCityFiled}">
				<div id="dbComgateDataIdCreateLocation_{dbComgateData.theid}" class="icon addLocation" style="float:right;">add location</div>
			</f:if>
			
			<div class="clearBoth"></div>
		</f:if>
						
	</div>
	<div class="clearBoth"></div>
	
	<!-- Options to modifie the original field of the DbComgateData object -->
	<div class="options">
		<div class="listItemColumn">
			<input class="newOriginal" type="text" value="{dbComgateData.original}" size="50" name=""/>
		</div>
		<div class="listItemColumn floatRight">
			<f:link.action id="dbComgateDataId_{dbComgateData.theid}" class="dbComgateDataSaveLink" controller="Checklists" action="saveDbComgateData" arguments="{dbComgateData : dbComgateData}">
				<div class="icon save">save</div>
			</f:link.action>
		</div>	
		<div class="clearBoth"></div>
	</div>
	
	<f:if condition="{dbComgateData.isCityFiled}">
		<f:render partial="LinkCityCountryCreatePartial" arguments="{dbComgateData : dbComgateData, countries : countries, section : section, dbProg : dbProg}"/>	
	</f:if>
	
</div>