<div>
	<div class="listItemColumn editdate">{dbComgateComp.theid}</div>	
	<div class="listItemColumn url">{dbComgateComp.sourceId}</div>	
	<div class="listItemColumn editIcon">
		<f:link.action id="dbComgateCompId_{dbComgateComp.theid}" class="dbComgateEditLink" controller="WinMatchComp" action="edit" arguments="{dbComgateComp : dbComgateComp}">
			<div class="icon edit">edit</div>
		</f:link.action>		
	</div>	
	<!-- Render the links to load the next dbComgateComp -->
	<f:link.action id="loadNextDbComgateCompLink" controller="WinMatchComp" action="loadNextDbComgateComp" arguments="{dbProg : dbProg, dbComgateComp : dbComgateComp}"></f:link.action>
	<f:link.action id="loadPreviousDbComgateCompLink" controller="WinMatchComp" action="loadPreviousDbComgateComp" arguments="{dbProg : dbProg, dbComgateComp : dbComgateComp}"></f:link.action>
	<div class="clearBoth"></div>		
</div>