
<div class="listItem">
	<div class="listItemColumn editdate">{dbComgate.verifiedDate}</div>
	<div class="listItemColumn url">{dbComgate.url}</div>
	<div class="listItemColumn editIcon">
		<f:link.action id="dbComgateId_{dbComgate.theid}" class="dbComgateEditLink" controller="Checklists" action="edit" arguments="{dbComgate : dbComgate}">
			<div class="icon edit">edit</div>
		</f:link.action>			
	</div>
	<div class="clearBoth"></div>
</div>

