<!-- 
Represents a DbComgate object that is displayed to the user with the
possibility to edit it.
-->
<div class="listItem">
	<div class="listItemColumn editdate">{dbComgate.verifiedDate}</div>
	<div class="listItemColumn url">{dbComgate.url}</div>
	<div class="listItemColumn editIcon">
		<f:link.action id="dbComgateId_{dbComgate.theid}" class="dbComgateEditLink" controller="Checklists" action="edit" arguments="{dbComgate : dbComgate}">
			<div class="icon edit">edit</div>
		</f:link.action>			
	</div>
	<div class="clearBoth"></div>
	<!-- Holds the last dbComgate element in the list. Used to load the next after save -->
	<f:link.action id="loadNextDbComgateLink" controller="Checklists" action="loadNextDbComgate" arguments="{dbProg : dbProg, dbComgate : dbComgate}"></f:link.action>
	<f:link.action id="loadPreviousDbComgateLink" controller="Checklists" action="loadPreviousDbComgate" arguments="{dbProg : dbProg, dbComgate : dbComgate}"></f:link.action>
</div>

