<!-- An edit form used to create LinkCityCountry objects -->
<div class="linkCityCountryCreate">
	
	<div class="linkCityCountryControls">
		<div class="controlElement">
			<div class="textButton saveLinkCityCountry">
				Use Selected City
			</div>
		</div>
		<div class="controlElement">
			<div class="textButton addLinkCityCountry">
				Create New City
			</div>
		</div>
	
		<div class="clearBoth"></div>
	</div>	
		
		
	<div class="linkCityCountryForm">

		<div class="listItem header">
			<div class="listItemColumn city">City Country Editor</div>
		</div>
	
			
		 <f:form id="linkCityCountryCreateForm_{dbComgateData.theid}" action="createNewLocation" controller="Checklists"  name="LinkCityCountry">
	           
	           	<div class="linkCityCountryInput">
	           		<div class="description">Zip</div>
	           		<div class="input">	
	           			<f:form.textfield id="zip_{dbComgateData.theid}" class="zip" name="zip" value="{section.zip}" />
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	           	<div class="linkCityCountryInput">
	           		<div class="description">City original</div>
	           		<div class="input">	
	           			<input id="cityOriginal_{dbComgateData.theid}" class="original" name="original" type="text" value="{dbComgateData.original}"/>
	           			
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	           	<div class="linkCityCountryInput">
	           		<div class="description">City correct</div>
	           		<div class="input">	
	           			<f:form.textfield id="cityCorrect_{dbComgateData.theid}"  class="city"  name="city" value="{dbComgateData.original}"/>
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	           	<div class="linkCityCountryInput">
	           		<div class="description">County</div>
	           		<div class="input">	
	           			<f:form.textfield id="county_{dbComgateData.theid}" class="county" name="county" value="{section.county}" />
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	           	<div class="linkCityCountryInput">
	           		<div class="description">Country original</div>
	           		<div class="input">	
	           			<input id="cuntryOriginal_{dbComgateData.theid}" class="countryOriginal" type="text" readonly="readonly" value="{section.CountryOriginal}"/>
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	           	
	           	<div class="linkCityCountryInput">
	           		<div class="description">Country correct</div>
	           		<div class="input">	
	           			
	           			<select id="countryCorrect_{dbComgateData.theid}" class="countryCode" name="countryCode" size="1">
	           				
	           				 <f:for each="{countries}" as="country">
	           				 <f:if condition="{0:country.country_code} == {0:dbProg.progCountryCode}">
	           				 <f:then>
							    <option value="{country.country_code}" selected="selected">{country.text_en}</option>
							 </f:then>
							 <f:else>
							    <option value="{country.country_code}">{country.text_en}</option> 
							 </f:else>          				 	 	
	           				 </f:if>
						     
						     </f:for>
	    				</select>
	
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	           	
	           	<div class="linkCityCountryInput">
	           		<div class="description">Worldwide unique</div>
	           		<div class="input">	
	           			<f:form.select id="sourceUnique_{dbComgateData.theid}" class="sourceUnique" name="sourceUnique" class="cityCountrySelect"  options="{0 : 'no', 1 : 'yes'}" />
	           		</div>
	           		<div class="clearBoth"></div>
	           	</div>
	            

	      		<div class="message">
	           		
	           	</div>
	           	
	           	<div class="icon save saveNewCityLinkList">
	           	
	           	</div>
	           	
	           	<input type="hidden" name="dbComgateId" value="{dbComgateData.theid}" />
	           	<input type="hidden" class="countryCodeId" name="countryCodeId" value="{section.CountryOriginalId}" />
	           	<f:link.action style="display:none" class="countryCodeIdLink" action="reloadDbComgateDataElement"></f:link.action>
	           	<f:link.action style="display:none" class="linkCityCountryListLink" action="getLinkCityCountryList" arguments="{cityDbComgate : dbComgateData}"></f:link.action>
	       </f:form>
       </div>  
       
       <div class="linkCityCountryList">
			<div class="wheelLoader"></div>
		</div>  	
</div>

