<!-- 
	A list of LinkCityCountry objects.
 -->

<div class="listItem header">
	<div class="listItemColumn city">City Original</div>
	<div class="listItemColumn sourceCity">City Match</div>
	<div class="listItemColumn zip">Zip</div>
	<div class="listItemColumn country">County</div>
	<div class="listItemColumn countryCode">Country Code</div>
</div>

<!-- A search from to update the list of countries according to search criteria -->
<div class="listItem search">
 
 	<f:form id="searchLinkCityCountryListForm_{dbComgateData.theid}" class="searchLinkCityCountryListForm" action="searchLinkCityCountryList" controller="Checklists" arguments="{cityDbComgate : dbComgateData}" >
		<div class="listItemColumn city">
			<f:form.textfield class="citySearch" name="city" value="" />
		</div>
		<div class="listItemColumn sourceCity">
			<div class="icon addLocation searchButton">
				Search
			</div>
		</div>
		<div class="listItemColumn zip"></div>
		<div class="listItemColumn country"></div>
		<div class="listItemColumn countryCode">
			<div class="notVisible">
				<!--  Not used -->
				<select class="countrySearch">
			
					<f:for each="{countries}" as="country">
						
						<f:if condition="{0:country.country_code} == {0:progCountryCode}">
						<f:then>
							<option value="{country.country_code}" selected="selected">
								{country.country_code} - {country.text_en}
							</option>
						</f:then>
						<f:else>
							<option value="{country.country_code}">
								{country.country_code} - {country.text_en}
							</option>
						</f:else>          				 	 	
						</f:if>
						
					</f:for>
				</select>
			</div>	
		</div>
		<div class="listItemColumn selectIcon">
			
		</div>
		<div class="clearBoth"></div>
    </f:form>
    
</div>


<f:if condition="{f:count(subject:linkCityCountries)} > 0">
	<f:then>
		<f:for each="{linkCityCountries}" as="linkCityCountry">
					
		<div class="listItem linkCityCountryItem">
			<div class="listItemColumn city">{linkCityCountry.city}</div>
			<div class="listItemColumn sourceCity">{linkCityCountry.sourceCity}</div>
			<div class="listItemColumn zip">{linkCityCountry.zip}</div>
			<div class="listItemColumn country">{linkCityCountry.county}</div>
			<div class="listItemColumn countryCode">{linkCityCountry.countryCode}</div>
			<div class="listItemColumn selectIcon">
				<div class="select">
					<f:if condition="{selectedLinkCityCountry}">
						<f:then>
							<f:if condition="{selectedLinkCityCountry.theid} == {linkCityCountry.theid}">
								<f:then>
   									<input class="check" type="checkbox" checked="checked"/>
   								</f:then>
   								<f:else>
									<input class="check" type="checkbox"/>
								</f:else> 
							</f:if>
						</f:then>
						<f:else>
							<input class="check" type="checkbox"/>
						</f:else>          				 	 	
					</f:if>
					
				</div>		
			</div>
			
			<f:link.action style="display:none" class="selectLinkCityCountryLink" action="selectLinkCityCountry" arguments="{cityDbComgateData : dbComgateData, linkCityCountry : linkCityCountry}"></f:link.action>
			<div class="clearBoth"></div>
		</div>

		</f:for>
	</f:then>
	<f:else>
		No cities found.
	</f:else>
</f:if>
