<!-- 
********************************************************
Shows a list of potential matches

Required:
--------
- DbComgateComp : DbComgateComp
- matchList		: array of matches
********************************************************
 -->
<div class="matchList" id="potentialMatches">
	
	<f:if condition="{matchList}">
	<f:then>
	
		<!-- Show list of matches -->
		<f:for each="{matchList}" as="match">
						
		<div class="listItem linkCityCountryItem match" >
			<div class="listItemColumn rate">{match.rating}</div>
			<div class="listItemColumn name">
				<f:link.action class="matchCompanyLink" controller="WinMatchComp" action="setWinForDbComgateComp" arguments="{dbComgateComp : dbComgateComp, win : match.win}">
				{match.name}
				</f:link.action>
			</div>
			<div class="listItemColumn city">{match.city}</div>
			<div class="listItemColumn country">{match.country}</div>
			<div class="listItemColumn legalForm">{match.legalform}</div>
			<div class="listItemColumn status">{match.status}</div>
			<div class="listItemColumn win">
				<a href="{match.cimSys}" target="_blank"> <!-- Link to company in cimSys -->
				{match.win}
				</a>
			</div>
			<div class="listItemColumn regid">{dbComgateComp.theid}</div>		
			<div class="listItemColumn">
				<!-- 
				<f:link.action class="matchCompanyLink" controller="WinMatchComp" action="setWinForDbComgateComp" arguments="{dbComgateComp : dbComgateComp, win : match.win}">
					<div class="icon accept"></div>
				</f:link.action>
				 -->
			</div>	
			<div class="clearBoth"></div>
		</div>
	
	</f:for>
	</f:then>
	<f:else>
		<span style="font-size:18px; color:red;">
		No matches
		</span>
	</f:else>          				 	 	
	</f:if>	
</div>