<!-- 
********************************************************
Shows a list of DbComgate objects for WIN match process

Required:
--------
- DbComgates : array<DbComgate>
********************************************************
 -->
 
 
 <div id="parentCompanies">
		<div>
			<div class="floatLeft">
				<h2>Selection</h2>
			</div>
			<div class="clearBoth"></div>
		</div>
		
		<!-- Header Row -->
		<div class="listItem header">
			<div class="listItemColumn" style="width:550px;">Name (DB_IDENT)</div>	
			<div class="listItemColumn" style="width:250px;">Country (DB_IDENT)</div>	
			<div class="listItemColumn" style="width:150px;">WIN</div>	
			<div class="listItemColumn"></div>	
			<div class="clearBoth"></div>
		</div>
			
		<!-- Data Rows -->	
		<div id="shownDbComgates">
			<f:if condition="{dbComgateList}">
			<f:then>
				
				<f:for each="{dbComgateList}" as="dbComgate"  key="index">
							
					<div class="listItem linkCityCountryItem {dbComgate.dbIdentCountryCode}">
						<div class="listItemColumn" style="width:550px;">
							<f:link.action class="showDbCompLink" controller="WinMatchComp" action="dbComgateCompList" arguments="{dbComgate : dbComgate}">
							{dbComgate.theid} - {dbComgate.dbIdentName}
							</f:link.action>
						</div>	
						<div class="listItemColumn" style="width:250px;">{dbComgate.dbIdentCountryCode}</div>	
						<div class="listItemColumn" style="width:150px;">{dbComgate.win}</div>	
						<div class="listItemColumn">
							<!--  
							<f:link.action class="showDbCompLink" controller="WinMatchComp" action="dbComgateCompList" arguments="{dbComgate : dbComgate}">
								<div class="icon edit">edit</div>
							</f:link.action>
							-->
						</div>	
						<div class="clearBoth"></div>
					</div>
		
				</f:for>
				
			</f:then>
			<f:else>
			<div class="emptyList">
				No more entries available
			</div>
			</f:else>
			</f:if>
		</div>	
	</div>	