<f:layout name="Layout" />

<f:section name="Content">
	<div id="loginMask">
		<f:form controller="login" action="authenticate" method="post" name="loginform">
		 	<div id="loginForm">
			 	<div class="formRow">
			 		<f:form.textbox name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" value="Benutzername" />
			 	</div>
			 	<div class="formRow">
			 		<f:form.password name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" value="Passwort"/>
			 	</div>
			 	<div class="formRow">
			 		<f:form.submit value="Login" />
			 	</div>
		    </div>
		</f:form>
	</div>
</f:section>