<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>ComGate Verification</title>
	
	<!-- Css -->
	<link rel="stylesheet" media="screen" href="{f:uri.resource(path:'Css/main.screen.css')}" type="text/css" />
	<link rel="stylesheet" media="print" href="{f:uri.resource(path:'Css/main.print.css')}" type="text/css" />
	
	<!-- JavaScripts -->
	<script type="text/javascript" src="{f:uri.resource(path:'Scripts/jquery-1.7.2.min.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Scripts/jquery-dropdown-check-list/src/jquery-ui-1.8.13.custom.min.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Scripts/jquery-dropdown-check-list/src/ui.dropdownchecklist.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Scripts/functions.jquery.js')}"></script>
	
	<f:base />
</head>
<body>
	
	<div id="messages">
		
	</div>
	<div id="page">
		
		
		<!-- Header -->
		<div id="header">
			<div class="centeredContent">
				<div id="logout" style="margin-left:30px; float:right">
					<a href="/comsys/Web/logout.php" >Logout</a>
				</div>		
				<div class="mainTitle">DataCleaner</div>
				<div class="clearBoth"></div>
			</div>
			
		</div>
		
		<!-- Navigation -->	
		<div id="navigation">
			<div class="centeredContent">

				<f:link.action class="navigationItem" controller="Checklists" action="index">
					Checklists
				</f:link.action>
				<f:link.action class="navigationItem" controller="WinMatchComp" action="index">
					WINmatchComp
				</f:link.action>
				<!-- 
				<f:link.action class="navigationItem" controller="Login" action="logout">
					Logout
				</f:link.action>
				 -->
				<div id="globalLoader" class="globalAjaxLoader">
					
				</div>
				<div class="clearBoth"></div>
			</div>	
		</div>
		
		<!-- Content -->
		<div id="content">
			<div class="centeredContent">
				<f:render section="Content" />
			</div>		
		</div>
		
	</div>

	
	
</body>
</html>